body{
    background-color: rgb(204, 206, 208);
}
.container{
    height: auto;
    width: 500px;
    border: 1px solid black;
    margin-left: 38%;
}
.container .title,.container .sub-title{
    text-align: center;
}

.container .title{
    color: rgb(10, 120, 120);
}
.container .sub-title{
    font-size: 20px;
    color: rgb(4, 56, 56);
}

.login-form{
    padding-left: 20%;
}

.login-form .form-group{
    margin-bottom: 10px;
}
.form-group label{
    font-size: 18px;
    font-weight: bold;
}

.form-group .form-field{
    height: 25px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 15px;
}
#password{
    margin-left: 5px;
}
.button-group{
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
}
.button-group button{
    height: 35px;
    width: 60px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 15px;
}
.button-group .submit_button{
    background-color: rgb(3, 192, 3);
    color: white;
    border-color:  rgb(5, 154, 5);
}

.button-group .submit_button:hover{
    background-color: rgb(6, 87, 6);
}

.button-group .clear_button{
    background-color: rgb(248, 27, 27);
    color: white;
    border-color:  rgb(149, 4, 4);
}

.button-group .clear_button:hover{
    background-color: rgb(108, 4, 4);
}